#Minecraft server properties
#Thu Apr 30 23:42:29 UTC 2020
spawn-protection={{ minecraft_config_spawn_protection }}
max-tick-time={{ minecraft_config_max_tick_time }}
query.port={{ minecraft_config_query_port }}
generator-settings={{ minecraft_config_generator_settings }}
force-gamemode={{ minecraft_config_force_gamemode }}
allow-nether={{ minecraft_config_allow_nether }}
enforce-whitelist={{ minecraft_config_enforce_whitelist }}
gamemode={{ minecraft_config_gamemode }}
broadcast-console-to-ops={{ minecraft_config_broadcast_console_to_ops }}
enable-query={{ minecraft_config_enable_query }}
player-idle-timeout={{ minecraft_config_player_idle_timeout }}
difficulty={{ minecraft_config_difficulty }}
spawn-monsters={{ minecraft_config_spawn_monsters }}
broadcast-rcon-to-ops={{ minecraft_config_broadcast_rcon_to_ops }}
op-permission-level={{ minecraft_config_op_permission_level }}
pvp={{ minecraft_config_pvp }}
snooper-enabled={{ minecraft_config_snooper_enabled }}
level-type={{ minecraft_config_level_type }}
hardcore={{ minecraft_config_hardcore }}
enable-command-block={{ minecraft_config_enable_command_block }}
max-players={{ minecraft_config_max_players }}
network-compression-threshold={{ minecraft_config_network_compression_threshold }}
resource-pack-sha1={{ minecraft_config_resource_pack_sha1 }}
max-world-size={{ minecraft_config_max_world_size }}
function-permission-level={{ minecraft_config_function_permission_level }}
rcon.port={{ minecraft_config_rcon_port }}
server-port={{ minecraft_config_server_port }}
server-ip={{ minecraft_config_server_ip }}
spawn-npcs={{ minecraft_config_spawn_npcs }}
allow-flight={{ minecraft_config_allow_flight }}
level-name={{ minecraft_config_level_name }}
view-distance={{ minecraft_config_view_distance }}
resource-pack={{ minecraft_config_resource_pack }}
spawn-animals={{ minecraft_config_spawn_animals }}
white-list={{ minecraft_config_white_list }}
rcon.password={{ minecraft_config_rcon_password }}
generate-structures={{ minecraft_config_generate_structures }}
online-mode={{ minecraft_config_online_mode }}
max-build-height={{ minecraft_config_max_build_height }}
level-seed={{ minecraft_config_level_seed }}
prevent-proxy-connections={{ minecraft_config_prevent_proxy_connections }}
use-native-transport={{ minecraft_config_use_native_transport }}
motd={{ minecraft_config_motd }}
enable-rcon={{ minecraft_config_enable_rcon }}
